<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <section class="container">
        <div class="create">
            <h1>Create a User</h1>
            <form method="post">
                <p><input type="text" name="Firstname" value="" placeholder="Firstname"></p>
                <p><input type="text" name="Lastname" value="" placeholder="Lastname"></p>
                <p><input type="text" name="Username" value="" placeholder="Username"></p>
                <p class="submit"><input type="submit" name="commit" value="Create"></p>
            </form>
        </div>
    </section>
</body>
</html>
